.is-invalid {
    border: 1px solid #E27272;
}

.text-invalid {
    color: #E27272;
}

@media print {
    .noPrint {
        display: none;
    }
    .box {
        box-shadow: none;
        background-color: transparent;
    }
}
